@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/xp.css">

<div class="window" style="width: 500px">
    <div class="title-bar">
        <div class="title-bar-text">윈도우 XP에 오신 걸 환영합니다.</div>
        <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <h6>더 안전한! 더 빠른! 윈도우의 혁신!</h6>
        <p>이전 윈도우보다 더 빠르고, 누구나 쉽게 배울 수 있는 환경을 제공합니다.</p>
        <p>끊김없이 느려짐없이 MS-DOS보다 뛰어넘는 혁신의 윈도우를 제공합니다.</p>
    </div>
</div>

<div class="window" style="margin-top: 40px">
    <div class="title-bar">
        <div class="title-bar-text">Command Prompt</div>
        <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <pre>Microsoft&#10094;R&#10095; Windows DOS 
    &#10094;C&#10095; Copyright Microsoft Corp 1990-2001.
        <br>C:&#92;WINDOWS&#92;SYSTEM32> DEL *
        <br>정말 삭제하시길 원하십니까? (y/n)
        </pre>
    </div>
</div>

